* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(#b1b2b4,#82bce2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.piano {
    width: 1000px;
    height: 450px;
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    position: relative;
}
.title {
    color: #fdfcfc;
    margin-bottom: 10px;
}
.octaves {
    display: flex;
    height: 300px;
    justify-content: center;
}
.octave {
    margin-top: 18px;
    display: flex;
}
span {
    margin-bottom: 10px;
}
.white {
    position: relative;
    height: 300px;
    width: 60px;
    border: 1px solid rgb(95, 95, 95);
    background-color: white;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.black {
    position: absolute;
    height: 180px;
    width: 30px;
    background-color: black;
    z-index: 2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fdfcfc;
}
.Db4 {
    margin-left: 46px;
}
.Eb4 {
    margin-left: 109px
}
.Gb4 {
    margin-left: 233px;
}
.Ab4 {
    margin-left: 294px;
}
.Bb4 {
    margin-left: 355px;
}

.Db5 {
    margin-left: 46px;
}
.Eb5 {
    margin-left: 109px
}
.Gb5 {
    margin-left: 233px;
}
.Ab5 {
    margin-left: 295px;
}
.Bb5 {
    margin-left: 358px;
}
 .white:active {
    background-image: linear-gradient(#fdfcfc, rgb(190, 186, 186));
    height: 307px;
}

.black:active {
    background-image: linear-gradient(#4b4a4a, black);
    height: 185px;
}